
.heroSection {
  height: 650px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* gap: 30em; */
  /* top: 109; */
  /* left: 170px; */
}

.empower {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.cicleDigital {
  display: flex;
  width: 30em;
  font-family: 'Roboto';
  size: 30px;
  line-height: 30px;
  top: 349px;
  right: 835px;
  /* left: 170px; */
  bottom: 211px;
}

button.nav-button{
  display: flex;
  align-items: center;
  width: 150px;
  height: 52px;
  gap: 10px;
  padding: 25px;
  background-color: #072AC8;
  color: #E5E5E5;
  border: #072AC8;
  font-size: 17px;
  top: 479px;
  right: 1120px;
}

#inTouch{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5em;
}

#seeOurWork{
  display: flex;
  text-align: justify;
  color: #6B708D;
  /* width: 30em;
  height: 22em; */
  /*centrar texto*/
}

.hero {
  width: 600px;
  height: 600px;
  background-image: url(./Assets/hero-section/hero-image.png);
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: [col-1] 50% [col-2] 50%; 
  justify-content: center;
  gap: 5em;
}

.hero img {
  width: 300px;
  height: 300px;
}

#creditCards {
  display: grid;
  grid-column: 1 / 2;
  align-items: flex-start;
  position: initial;
}

#ok {
  display: grid;
  grid-column: 2 / 2;
  align-self: flex-end;
  }

.clientSection {
  width: 100em;
  height: 6em;
  margin-top: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  filter: grayscale(100%);
}
.projects{
  width: 100em;
  height: 561px;
  background-color: #E5E5E5;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 23px;
}

.projects-area{
  max-height: 444px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.targetProject{
  height: 100%;
  margin: 0;
  flex: 1;
  background-color: #FFFFFF;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  /* to do: quitar Display block y centrar texto. */
}

.targetsImatge{
  width: 340px;
  height: 240px;
}

.testimonialS {
  max-width: 1320px;
  height: 100%;
  background-color: #292E47;
  background-image: url(./Assets/testimonial-section/orbit.png);
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}
.col-1 {
  margin: 51px;
  display: flex;
  flex-direction: column;
  max-width: 40%;
  align-items: flex-start;
  justify-content: space-between;
}
.col-1 img{
  width: 150px;
  height: 150px;

}
.col-3 {
  margin: 51px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.col-3 img{
  width: 150px;
  height: 150px;
}
.testimonialS .col-2 h3 {
  color: #F4F6FC; 
}
.col-2{
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px 10px;
  gap: 120px;
}
.col-2 p{
text-align: center;
}

.col-2 img{
  border-radius: 50%;
  height:50px;
  width:50px;
}
/* .kristin{
  width: auto;
  display: flex;
  justify-content: space-between;
} */

.ourService{
  width: 100em;
  height: 597px;
  background-color: #E5E5E5;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 23px;
}

.projects-area{
  max-height: 444px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.targetProject{
  height: 100%;
  margin: 0;
  flex: 1;
  background-color: #FFFFFF;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  /* to do: quitar Display block y centrar texto. */
}

.targetsImatge{
  width: 340px;
  height: 240px;
}

.targetProjectText{
    height: 50%;
    padding: 30px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.testimonialS {
  max-width: 1320px;
  height: 100%;
  background-color: #292E47;
  background-image: url(./Assets/testimonial-section/orbit.png);
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}
.col-1 {
  margin: 51px;
  display: flex;
  flex-direction: column;
  max-width: 40%;
  align-items: flex-start;
  justify-content: space-between;
}
.col-1 img{
  width: 150px;
  height: 150px;

}
.col-3 {
  margin: 51px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.col-3 img{
  width: 150px;
  height: 150px;
}
.testimonialS .col-2 h3 {
  color: #F4F6FC; 
}
.col-2{
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px 10px 51px;
  gap: 120px;
}
.col-2 p{
text-align: center;
}

.col-2 img{
  border-radius: 50%;
  height:50px;
  width:50px;
}

.kristin{
  width: 171px;
  display: flex;
  justify-content: center;
  /*TO DO: Poner texto al lado de la imagen*/
}

.ourService{
  width: 100em;
  height: 597px;
  background-color: #E5E5E5;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 50px;
}

.ourServicesArea{
  max-height: 380px;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  gap: 70px;
}
.iconImg{
  background-color: #ECF7FF;
  border-radius: 80px;
  height: 60px;
  width: 60px;
}
.serviceTarget{
  height: 100%;
  padding: 30px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.cta{
  max-width: 1320px;
  height: 100%;
  /* margin: 0 60px; */
  /* background-color: #FFC600; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
}

.yellowBox{
  width: 1320px;
  height: 500px;
  background-color: #FFC600;
}
.insideYellow{
  height: auto;
  margin: 136px 110px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.formContact{
  width: 393px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.formMail{
  color: #FFFFFF;
  position: relative;
}
.email{
  width: 393;
  height: 80px;
  border: 0px;
  text-align: left;
}
.btnForm{
  border: 0px;
  background-color: #072AC8;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500px;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  padding: 15px 36px;
}






















/* 
@media (min-width: 650px) and (max-width: 999px) {
    .responsive-div {
      background-color: ;
    }
  } */ 