
.heroSection {
  height: 650px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* gap: 30em; */
  /* top: 109; */
  /* left: 170px; */
}

.empower {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.cicleDigital {
  display: flex;
  width: 30em;
  font-family: 'Roboto';
  size: 30px;
  line-height: 30px;
  top: 349px;
  right: 835px;
  /* left: 170px; */
  bottom: 211px;
}

button.nav-button{
  display: flex;
  align-items: center;
  width: 150px;
  height: 52px;
  gap: 10px;
  padding: 25px;
  background-color: #072AC8;
  color: #E5E5E5;
  border: #072AC8;
  font-size: 17px;
  top: 479px;
  right: 1120px;
}

#inTouch{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5em;
}

#seeOurWork{
  display: flex;
  text-align: justify;
  color: #6B708D;
  /* width: 30em;
  height: 22em; */
  /*centrar texto*/
}

.hero {
  width: 600px;
  height: 600px;
  background-image: url(./Assets/hero-section/hero-image.png);
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: [col-1] 50% [col-2] 50%; 
  justify-content: center;
  gap: 5em;
}

.hero img {
  width: 300px;
  height: 300px;
}

#creditCards {
  display: grid;
  grid-column: 1 / 2;
  align-items: flex-start;
  position: initial;
}

#ok {
  display: grid;
  grid-column: 2 / 2;
  align-self: flex-end;
  }

.clientSection {
  width: 100em;
  height: 6em;
  margin-top: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  filter: grayscale(100%);
}
.projects{
  width: 100em;
  height: 561px;
  background-color: #E5E5E5;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 70px;
}

.projects-area{
  max-height: 444px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.targetsImatge{
  height: 100%;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.targetsImatge{
  width: 340px;
  height: 240px;
}

.testimonial-Section {
  max-width: 1320px;
  height: 100%;
  background-image: url(./Assets/testimonial-section/orbit.png);
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.roundEmoji {
  max-width: 100%;
}























/* 
@media (min-width: 650px) and (max-width: 999px) {
    .responsive-div {
      background-color: ;
    }
  } */ 