@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
}

/* Colors:
#072ACB
#43D2FF
#A2D6F9
#D1EDFF
#292E47
#6B708D
#F2F4FC
#ECF7FF
#FFC600 */


body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #E5E5E5;
 }

body header, section, footer {
  margin: 0 auto;
  max-width: 1100px;
}

body section, footer {
  margin-top: 200px;
}

body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100em;
  height: 4em;
  margin-top: 70px;
  font-family: 'Roboto';
  text-shadow: 1px 1px 2px #6B708D;
}

header img {
  width: 60px;
  height: 18px;
}

.topNav {
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #072AC8;
}
header button.nav-button {
  display: flex;
  width: 8em;
  height: 3em;
  gap: 20em;
  background-color: #072AC8;
  color: #E5E5E5;
  border: #072AC8;
}

h1, h2, h3, h4 {
  font-family: 'Roboto';
}

h1 {
  font-weight: 700;  
  font-size: 60px;
  line-height: 70px;
  color: #292E47;
}

h2{
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: #514D67;
}
h3{
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
   
}

h4{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #514D67;
}

   {
  font-size: 24px;
  font-weight: 500;
}

.body-intro-regular {
  font-size: 20px;
  font-weight: 400;
}

.headline-text-medium {
  font-size: 17px;
  font-weight: 500;
}

.headline-text-regular {
  font-size: 17px;
  font-weight: 400;
}

.caption1-regular {
  font-size: 15px;
  font-weight: 400;
}

.caption2-regular {
  font-size: 13px;
  font-weight: 400;
}


/*targetsProjects{