@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  box-sizing: border-box;
}

/* Colors:
#072ACB
#43D2FF
#A2D6F9
#D1EDFF
#292E47
#6B708D
#F2F4FC
#ECF7FF
#FFC600 */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #E5E5E5;
}

body header,
section,
footer {
  margin: 0 auto;
  max-width: 1100px;
}

body section,
footer {
  margin-top: 200px;
}

body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100em;
  height: 4em;
  margin-top: 70px;
  font-family: 'Roboto';
  text-shadow: 1px 1px 2px #6B708D;
}

header img {
  width: 60px;
  height: 18px;
}

.nav-Bar{
  position: sticky;
  z-index: 10;
}

.topNav {
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #072AC8;
  text-decoration: none;
}

.topNav a{
  text-decoration: none;
  color: #6B708D;
}

.topNav a:hover {
  color:#072AC8;
  text-decoration: underline;
}

.nav-button {
  display: flex;
  align-items: center;
  width: 150px;
  height: 52px;
  gap: 10px;
  padding: 25px;
  background-color: #072AC8;
  color: #E5E5E5;
  border: #072AC8;
  font-size: 17px;
  top: 479px;
  right: 1120px;
}


h1,
h2,
h3,
h4 {
  font-family: 'Roboto';
}

h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #292E47;
}

h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: #514D67;
}

h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}

h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #514D67;
}

.bIM-24 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #292E47;
}

.hR-17 {
  font-size: 17px;
  font-weight: 400;
  line-height: 25;
  color: #6B708D;
}

.bIR-20 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #292E47;
}

.hTM-17 {
  font-size: 17px;
  font-weight: 500;
}

.hTR-17 {
  font-size: 17px;
  font-weight: 400;
}

.hTR-17-blue {
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  color: #A2D6F9;
}

.c1R-15 {
  font-size: 15px;
  font-weight: 400;
}

.c2R-13 {
  font-size: 13px;
  font-weight: 400;
}

.c2R-13-white {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  color: #F4F6FC;
}

.hLTR-17 {
  font-size: 17px;
  font-weight: 400px;
  color: #6B708D;
}

.yellowP {
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
  color: #FFC600;
  text-align: center;
}

.buttonlearnMore {
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  color: #072AC8;
}

.footerContain {
  width: 100em;
  max-width: 1100px;
  height: 100%;
  margin: 30px 0 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 405px;
}

.logoAdress {
  width: 260px;
  height: 112;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 30px;
}

footer img {
  width: 98px;
  height: 30px;
}

.adress {
  font-size: 17px;
  font-weight: 400;
  color: #6B708D;
}

.navigationWeb {
  width: 435px;
  height: 112px;
  display: flex;
  gap: 106px;

}

.hub {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
}


/*TABLET*/
@media (min-width: 768px) and (max-width: 1023px) {
  body header {
    background-color: #072AC8;
  }
}

/*MOBILE*/
@media (max-width: 767px) {
  body header {
    background-color: #FFC600;
  }
}


/*MOBILE Y TABLET*/
@media (max-width: 1023px) {
  .heroSection .hero {
    display: none;
  }
}