.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.formContainerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
}

/* 
.form-register h1 {
  
} */

.controls {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.controlLabel {
  display: flex;
  flex-direction: column;
  width: 50%;
}


/*TABLET*/
@media (min-width: 768px) and (max-width: 1023px) {
  .form__container {
    /* margin-top: 40px; */
  }
}

/*MOBILE*/
@media (max-width: 767px) {
  body header {
    /* max-height: 400px; */

  }
}


/*MOBILE Y TABLET*/
@media (max-width: 1023px) {
  form.form-register.form__container {
    /* margin-top: 50px; */

  }
}